/* reset margin & padding from css */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-weight: bold;
    color: navy;
    background-color: whitesmoke;
}

/* Header styling */

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    height: 15vh;
    font-size: 2.5rem;
}

/* gameboard  & scoreboard & players */

.scoreboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 75vw;
    margin-left: calc((100vw - 75vw) / 2);
    border: solid 2px navy;
    background-color: beige;
    font-size: 1.25rem;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    font-size: 2rem;
    margin-top: 15vh;
}

.game-container {
    display: flex;
    justify-content: space-around;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.game-grid > div {
    border: solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    width: 15vw;
    height: 15vh;
}

/* game options & results */

.options-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.options-container > button {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 2.5vh;
    border: 2px solid red;
    border-radius: 8px;
    padding: 0.5vh 0.5vw;
    color: red;
    background-color: whitesmoke;
}

#new-game {
    border: 2px solid green;
    color: green;
}

#new-game:hover {
    background-color: lightgreen;
}

#player-names:hover {
    background-color: lightcoral;
}
